.parentClass {
  padding-top: 1rem;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto Slab', 'Cambria', 'Lucida Bright', monospace, sans-serif;

  @media (min-width: 640px) {
    /* Small screens and above (e.g., mobile devices in landscape) */
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 768px) {
    /* Medium screens and above (e.g., tablets) */
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media (min-width: 1024px) {
    /* Large screens and above (e.g., laptops and desktops) */
    padding-left: 7rem;
    padding-right: 7rem;
  }

  @media (min-width: 1280px) {
    /* Extra-large screens and above (e.g., large desktops) */
    padding-left: 10rem;
    padding-right: 10rem;
  }

  @media (min-width: 1780px) {
    /* Extra-large screens and above (e.g., large desktops) */
    padding-left: 26rem;
    padding-right: 26rem;
  }
}

.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: rgb(126 34 206);
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5rem;
  padding-left: 0rem;
}